html{
	min-height : 100%;
}
body{
	min-height : 100%;
}
.bg_fullscreen {
	position: absolute;
	height : 100%;
	min-height : 100%;
	width : 100%;
	min-width : 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed !important;
	background-size:cover !important;
	z-index: -1;
}
#bg_red {
	background: url('img/red.png');
}
#bg_blue {
	background: url('img/blue.png');
}
#bg_green {
	background: url('img/green.png');
}
#bg_white {
	background: url('img/white.png');
}

.text {
	font-size: 150%;
	font-family: Consolas,"courier new";
	background-color: transparent;
	color: #CFBFAD;
}

h1 {
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: "Tahoma";
	font-size: 600%;
	margin: 0px;
	background-color: transparent;
	color: #CFBFAD;
}

h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	min-width: 125px;
	max-width: 200px;
}

a:hover {
	text-decoration: none;
	color:gray;
}

a:active {
	background-color: transparent;
	text-decoration: none;
	color: #CFBFAD;
}

a:visited {
	background-color: transparent;
	text-decoration: none;
	color: #CFBFAD;
}
a:link {
	background-color: transparent;
	text-decoration: none;
	color: #CFBFAD;	
}
.border {
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style: solid;
	border-radius: 10px;
	border-width:1px;
	border-color: #fff;
}

.spacer {
	margin-top: 50px;
}

.absolute-gamer{
	position: absolute;
	z-index: 2;
	width: auto;
	background-color: black;
	border-radius: 10px;
	border-width: 1px;
	border-color: white;
	display: none;
}


.socialMediaMenu {
	background-color: gray;
	position: fixed;
   	
	width: 70px;
	height: 300px;
}

.button {
	transition: all .2s ease-in-out;
}

.button:hover {
	transform: scale(1.1);
}

li {
	margin-left: 30px
}

ul {
	list-style-type: none;
}

lightblue {
	color:#357CDE;
}
red {
	color:#E93A41;
}
green {
	color:#92EB1F;
}
orange {
	color:#F6AC5C;
}
comment {
	color:#808080;
}
yellow {
	color:#FFDE12;
}

@media only screen and (max-width: 767px) {

	.text-content {
		font-size: 100%;
	}

	h1 {
		font-size: 400% !important;
	}

}

@media only screen and (min-width: 651px){
	.icon {
		transition: all .2s ease-in-out;
		margin:5px;
		width:60px; 
		height:60px;
	}
	
	.icon:hover {
		transform: scale(0.8);
	}

	.socialMediaMenu {
		right: 0px;
		top: 35%;
	}
}

@media only screen and (max-width: 650px) {
	.nospace {		
		margin: 0px;
		padding: 0px;
	}

	.text-content {
		font-size: 80%;
	}

	h1 {
		font-size: 300% !important;
	}

	.absolute-gamer {
		margin-left: 0px;
		width: 100%;
	}

	.socialMediaMenu {
		bottom: 0%;
		position: fixed;
		right:-20px;
		width: 100%;
		height: 50px;
	}

	.icon {
		bottom:5px;
		width:40px; 
		height:40px;
	}	

	.iconSocMedia {
		bottom:5px;
		margin-left:20px;
		margin-right:20px;
		width:35px; 
		height:35px;
	}

}
